## Membentuk kolom bertipe datetime dari sejumlah kolom lain pada Data Frame

## Import Modules :
modul yang kita import antara lain :

1. pandas

In [1]:
import pandas as pd

-Setelah itu sebaiknya kita mengecek terlebih dahulu versi pandas dan numpy yang kita gunakan saat ini, bertujuan agar apabila terjadi perbedaan output atau tampilan itu kemungkinan besar di sebabkan oleh perbedaan versi yang di gunakan.

In [2]:
print(pd.__version__)

1.1.3

## Persiapan Data Frame

-Pertama kita akan menyiapkan dictionary yang terdiri dari beberapa kolom

-kita akan menyiapkan 3 kolom yang terdiri dari hari, bulan dan tahun

-pada kolom hari akan berisi beberapa tanggal 

-pada kolom bulan akan berisi sejumalah bulan yang berhubungan dengan hari 

-Dan pada kolom tahun akan berisi sejumlah tahun

-jadi hari , bulan dan tahun merupakan kesatuan yang saling berhubungan

In [3]:
data = {'day':[1, 2, 10, 25, 12],
        'month':[1, 2, 4, 5, 6],
        'year':[2000, 2001, 2010, 2015, 2020]}

df = pd.DataFrame(data)
df

   day  month  year
0    1      1  2000
1    2      2  2001
2   10      4  2010
3   25      5  2015
4   12      6  2020

-Kemudian kita akan membuat sebuah kolom baru yang memiliki tipe data datetime yang terdiri dari 3 kolom di atas

-Sebagai contoh kita akan membuat kolom baru dengan nama 'penangggalan'

-Dan kita juga bisa mengecek tipe dari data yang kita hasilkan dengan cara 
df.dtypes

In [4]:
df['penanggalan'] = pd.to_datetime(df[['day', 'month', 'year']])
df

   day  month  year penanggalan
0    1      1  2000  2000-01-01
1    2      2  2001  2001-02-02
2   10      4  2010  2010-04-10
3   25      5  2015  2015-05-25
4   12      6  2020  2020-06-12

In [5]:
df.dtypes

day                     int64
month                   int64
year                    int64
penanggalan    datetime64[ns]
dtype: object