## Import Modules

modul yang kita import ada 2 antara lain :

1. pandas
2. numpy

In [2]:
import pandas as pd
import numpy as np

Setelah itu sebaiknya kita mengecek terlebih dahulu versi pandas dan numpy yang kita gunakan saat ini, bertujuan agar apabila terjadi perbedaan output atau tampilan itu kemungkinan besar di sebabkan oleh perbedaan versi yang di gunakan.

In [5]:
print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

## Persiapan Data Frame

-membuat variabel n_rows yang menandakan jumlah baris

-membuat variabel n_cols yang menandakan jumlah kolom

-dan memanfaatkan tuple yang dikenakan terhadap String

-contoh : String 'USIA' yang dikenakan tuple akan menghasilkan tuple seperti ini 'U','S','I', 'A'.

-np.random.randint(1, 99, size=(n_rows, n_cols)), columns=cols) artinya data frame akan diisi dengan bilangan integer dengan jangkauan 1 sampai 99 (1,2,3,4,5,6,7,8,9, dst...) yang muncul secara random. Kemudian, untuk banyak data yang ditampilkan itu ditentukan oleh n_rows dan n_cols.

In [12]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), columns=cols)
df

   usia
0    96
1    62
2    81
3    95
4    60
5     7
6    63
7    27
8    17
9    76

## Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan cut()

-Membuat kolom baru

-Mengelompokkan usia dalam beberapa kategori usia dengan memanfaaatkan fungsi pd.cut

In [13]:
df['kelompok_usia'] = pd.cut(df['usia'],
                             bins = [0, 18, 65, 99],
                             labels = ['anak', 'dewasa', 'manula'])
df

   usia kelompok_usia
0    96        manula
1    62        dewasa
2    81        manula
3    95        manula
4    60        dewasa
5     7          anak
6    63        dewasa
7    27        dewasa
8    17          anak
9    76        manula