#5 Mengganti nama kolom pada Data Frame

Import Modules :

modul yang kita import ada 2 antara lain :

1. pandas
1. numpy

In [1]:
import pandas as pd
import numpy as np

-Setelah itu sebaiknya kita mengecek terlebih dahulu versi pandas dan numpy yang kita gunakan saat ini, bertujuan agar apabila terjadi perbedaan output atau tampilan itu kemungkinan besar di sebabkan oleh perbedaan versi yang di gunakan.

In [2]:
print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

Persiapan Data Frame

-membuat variabel n_rows yang menandakan jumlah baris

-membuat variabel n_cols yang menandakan jumlah kolom

-dan memanfaatkan tuple yang dikenakan terhadap String

-contoh : String 'LAMPU' yang dikenakan tuple akan menghasilkan tuple seperti ini 'L','A','M', 'P','U'.

-np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols) artinya data frame akan diisi dengan bilangan integer dengan jangkauan 1 sampai 10 (1,2,3,4,5,6,7,8,9) yang muncul secara random. Kemudian, untuk banyak data yang ditampilkan itu ditentukan oleh n_rows dan n_cols.

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('LAMPU')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   L  A  M  P  U
0  8  2  1  7  7
1  2  2  9  1  5
2  6  6  4  3  8
3  2  4  2  4  1
4  8  7  1  6  8

Mengganti nama (label) untuk sebuah kolom pada Data Frame

-sebagai contoh kolom M mau kita ganti namanya menjadi  Hobi

-dengan memanggil df.rename(columns={'M':'Hobi'})

-dengan begitu nama kolom M akan berubah menjadi Hobi.

In [4]:
df.rename(columns={'M':'Hobi'})

   L  A  Hobi  P  U
0  8  2     1  7  7
1  2  2     9  1  5
2  6  6     4  3  8
3  2  4     2  4  1
4  8  7     1  6  8

Mengganti nama (label) untuk banyak kolom pada Data Frame

-Disini kita akan mengubah nama kolom yang mau kita ubah sebanyak yang kita mau

-Disini sebagai contoh kita akan mengubah nama kolom L A M menjadi Hobi Saya Bola

-Dengan menggunakan fungsi yang sama df.rename(columns='L':'Hobi','A':'Saya', 'M':'Bola'})

In [6]:
df.rename(columns={'L':'Hobi','A':'Saya', 'M':'Bola'})

   Hobi  Saya  Bola  P  U
0     8     2     1  7  7
1     2     2     9  1  5
2     6     6     4  3  8
3     2     4     2  4  1
4     8     7     1  6  8