## Melakukan seleksi kolom dan baris pada Data Frame menggunakan loc

## Import Modules

1. Pandas
2. Numpy

In [1]:
import pandas as pd
import numpy as np

-Setelah itu sebaiknya kita mengecek terlebih dahulu versi pandas dan numpy yang kita gunakan saat ini, bertujuan agar apabila terjadi perbedaan output atau tampilan itu kemungkinan besar di sebabkan oleh perbedaan versi yang di gunakan.

In [2]:
print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

## Persiapan Data Frame

-membuat variabel n_rows yang menandakan jumlah baris

-membuat variabel n_cols yang menandakan jumlah kolom

-dan memanfaatkan tuple yang dikenakan terhadap String

-contoh : String 'LAMPU' yang dikenakan tuple akan menghasilkan tuple seperti ini 'L','A','M', 'P','U'.

-np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols) artinya data frame akan diisi dengan bilangan integer dengan jangkauan 1 sampai 10 (1,2,3,4,5,6,7,8,9) yang muncul secara random. Kemudian, untuk banyak data yang ditampilkan itu ditentukan oleh n_rows dan n_cols.

In [4]:
n_rows = 10
n_cols = 5
cols = tuple('LAMPU')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   L  A  M  P  U
0  3  7  8  1  7
1  5  2  3  1  1
2  8  2  9  1  7
3  7  8  3  1  7
4  4  2  9  3  8
5  3  6  5  9  3
6  8  8  7  2  1
7  3  2  1  2  5
8  7  2  4  8  5
9  2  8  8  9  7

## Seleksi kolom dan baris menggunakan loc

-Atribut loc merupakan atribut yang dimiliki oleh suatu Data Frame dalam pandas

-loc nya nanti akan terbagi kedalam 2 bagian besar setiap bagiannya di tandai dengan tanda koma (,)

-loc di akses dengan menggunakan kurung siku [ ]

-bagian pertama pada loc digunakan untuk mengatur baris

-bagian kedua pada loc digunakan untuk mengatur kolom

In [12]:
df.loc[[0,3,4],['A','U']]

   A  U
0  7  7
3  8  7
4  2  8

## Seleksi baris dengan kondisi

-Kita bisa menyeleksi baris dengan memanfaatkan kondisi tertentu 
sebagai contoh kita ingin menampilkan sebuah baris yang untuk nilai kolomnya di atas 10 dengan menulis df['A']>5

In [14]:
df.loc[df['A']>5, ['A','M','P']]

   A  M  P
0  7  8  1
3  8  3  1
5  6  5  9
6  8  7  2
9  8  8  9

## Slicing Data Frame dengan loc

-Slicing pertama kita lakukan di bagian baris 0:4 artinya kita mau melakukan Slicing dari index ke 0 sampai index baris ke 4 

-Sedangkan slicing kolom 'L':'A' artinya kita mau melakukan Slicing dari kolom L sampai kolom A

In [17]:
df.loc[0:4, 'L':'A']

   L  A
0  3  7
1  5  2
2  8  2
3  7  8
4  4  2