## Membagi Data Frame menjadi dua secara acak

## Import Modules :

modul yang kita import ada 2 antara lain :

1. pandas
2. numpy

In [1]:
import pandas as pd
import numpy as np

-Setelah itu sebaiknya kita mengecek terlebih dahulu versi  pandas dan numpy yang kita gunakan saat ini, bertujuan agar apabila terjadi perbedaan output atau tampilan itu kemungkinan besar di sebabkan oleh perbedaan versi yang di gunakan.

In [2]:
print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

## Persiapan Data Frame

-membuat variabel n_rows yang menandakan jumlah baris

-membuat variabel n_cols yang menandakan jumlah kolom

-dan memanfaatkan tuple yang dikenakan terhadap String

-contoh : String 'LAMPU' yang dikenakan tuple akan menghasilkan tuple seperti ini 'L','A','M', 'P','U'.

-np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols) artinya data frame akan diisi dengan bilangan integer dengan range 1 sampai 10 (1,2,3,4,5,6,7,8,9) yang muncul secara random. Kemudian, untuk banyak data yang ditampilkan itu ditentukan oleh n_rows dan n_cols.

In [6]:
n_rows = 10
n_cols = 5
cols = tuple('LAMPU')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   L  A  M  P  U
0  5  4  9  7  7
1  4  4  7  8  7
2  2  9  9  9  2
3  7  3  4  8  5
4  6  9  7  8  6
5  5  5  9  7  2
6  1  3  5  1  9
7  4  9  2  6  6
8  9  6  4  4  8
9  1  7  8  9  6

## Membagi Data Frame menjadi dua secara acak berdasarkan proporsi tertentu

-pertama kita mengecek dulu shape dari Data Frame kita, dengan cara df.shape, sebagai contoh bisa kita lihat hasil outputnya 10,5 berarti jumlah barisnya ada 10 dan kolomnya ada 5.

-Data Framenya mau kita bagi menjadi 70% dan 30% proporsinya.

-df_1 = df.sample merupakan sebuah method yang digunakan untuk mengambil baris secara acak yang sebanyak 70% dari baris baris di dalam Data Frame disimbolkan sebagai df_1

-df_2 = df.drop digunakan untuk menghapus imdex-index yang sudah terbentuk di df_1.

-Hasilnya adopsi nya pasti diambil secara acak.

In [7]:
df.shape

(10, 5)

In [10]:
proporsi = 0.7
df_1 = df.sample(frac=proporsi)
df_2 = df.drop(df_1.index)

print(f'df_1 shape: {df_1.shape}')
print(f'df_2 shape: {df_2.shape}')

df_1 shape: (7, 5)
df_2 shape: (3, 5)

In [11]:
df_1

   L  A  M  P  U
8  9  6  4  4  8
1  4  4  7  8  7
3  7  3  4  8  5
4  6  9  7  8  6
6  1  3  5  1  9
7  4  9  2  6  6
2  2  9  9  9  2

In [12]:
df_2

   L  A  M  P  U
0  5  4  9  7  7
5  5  5  9  7  2
9  1  7  8  9  6