## Import Modules :
modul yang kita import kali ini cuma 1 :

1. pandas

In [1]:
import pandas as pd

- Setelah itu sebaiknya kita mengecek terlebih dahulu versi pandas yang kita gunakan saat ini, bertujuan agar apabila terjadi perbedaan output atau tampilan itu kemungkinan besar di sebabkan oleh perbedaan versi yang di gunakan.

In [2]:
print(pd.__version__ )

1.1.3

## Membuat Data Frame dari hasil seleksi Spreadsheet

- menyiapkan sebuah data frame

- bisa berupa excel, spreadsheet

- cara mengaksesnya dengan memanggil pd.read_clipboard()

In [5]:
df = pd.read_clipboard()
df

      Nrp     Nama
0  2073024    Rici
1  2073017  Stepen
2  2073007    Tanu
3  2073009   Louis
4  2073016  Albert