1. Sebelum memulai membuat sebuah source sore, sebaiknya kita mengimport sebuah modul dan mengecek versi dari modul yang akan kita masukan. Contoh :

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

#Untuk apa kita mengecek versi dari modul yang kita import ?
Agar apabila output atau tampilan yang muncul terjadi perbedaan itu bisa kemungkinan terjadi karena perbedaan versi tersebut.

2. Persiapan Membuat Data Frame : 

1)Contoh saya akan menggunakan 4 baris dan 4 kolom sebagai percobaannya. baris kita simbolkan dengan n_rows dan kolom kita simbolkan dengan n_cols. 

2)Jumlah kolom dan baris akan di tentukan berdasarkan nilai yang kita input nantinya. 

3)Dan kita juga akan menggunakan fungsi tuple

In [17]:
n_rows = 4
n_cols = 4
cols = tuple('RICI')
df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   R  I  C  I
0  8  9  4  3
1  8  1  2  1
2  1  6  5  4
3  2  3  2  3

#Apa yang terjadi apabila string terkena fungsi tuple? akan tampil seperti dibawah ini :

In [4]:
tuple('RICHI')

('R', 'I', 'C', 'H', 'I')

3. Menyertakan sebuah Prefix

#Maksudnya disini berguna untuk membuat kolom memiliki underscore, agar lebih jelas bisa perhatikan contoh dibawah ini :

In [18]:
df.add_prefix('kolom_')

   kolom_R  kolom_I  kolom_C  kolom_I
0        8        9        4        3
1        8        1        2        1
2        1        6        5        4
3        2        3        2        3

4. Menyertakan sebuah Suffix

#Maksudnya disini berguna untuk membuat kolom memiliki underscore, tetapi underscore nya berada didepan, agar lebih jelas bisa perhatikan contoh dibawah ini :

In [20]:
df.add_suffix('_field')

   R_field  I_field  C_field  I_field
0        8        9        4        3
1        8        1        2        1
2        1        6        5        4
3        2        3        2        3