# Seleksi baris dengan between()

# Import Modules :
modul yang kita import ada 2 antara lain :

1. pandas
2. numpy

In [1]:
import pandas as pd
import numpy as np

- Setelah itu sebaiknya kita mengecek terlebih dahulu versi pandas dan numpy yang kita gunakan saat ini, bertujuan agar apabila terjadi perbedaan output atau tampilan itu kemungkinan besar di sebabkan oleh perbedaan versi yang di gunakan.

In [2]:
print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

# Persiapan Data Frame
- n_rows = menentukan jumlah baris
- n_cols = menentukan jumlah kolom
- random.randint = Mengacak nilai

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  6  7  8  4  4
1  5  7  7  7  6
2  1  7  1  7  1
3  2  8  9  2  3
4  1  4  1  8  5
5  9  2  1  9  3
6  2  6  9  2  3
7  5  5  9  4  2
8  4  4  5  6  4
9  9  9  3  7  6

# Seleksi baris dengan between()
- .between = nilai di antaranya

In [4]:
df[df['A'].between(2, 5)]

   A  B  C  D  E
1  5  7  7  7  6
3  2  8  9  2  3
6  2  6  9  2  3
7  5  5  9  4  2
8  4  4  5  6  4

In [5]:
df[df['A'].between(2, 5, inclusive=False)]

   A  B  C  D  E
8  4  4  5  6  4