#8 Memeriksa kesamaan antar dua buah kolom (Series) pada Data Frame

Import Modules :

modul yang kita import ada 2 antara lain :

1. pandas
2. numpy

In [1]:
import pandas as pd
import numpy as np

-Setelah itu sebaiknya kita mengecek terlebih dahulu versi pandas dan numpy yang kita gunakan saat ini, bertujuan agar apabila terjadi perbedaan output atau tampilan itu kemungkinan besar di sebabkan oleh perbedaan versi yang di gunakan.

In [2]:
print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

Persiapan Data Frame

-Kita akan membuat 2 buah kolom (A dan B) yang terisi sebuah data data yang diisi dengan data yang sama persis,

-Terdiri dari 15,15,18, np.nan, 12],

In [3]:
data = {'A':[15, 15, 18, np.nan, 12],
        'B':[15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

Mengenal Pandas Series

-Pandas Series merupakan salah satu struktur data yang juga dimiliki oleh Pandas.

-Series itu artinya kolom artinya setiap kolom dari pandas memiliki tipe data Series

In [4]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [6]:
type(df['A'])

pandas.core.series.Series

In [7]:
type(df)

pandas.core.frame.DataFrame

Memeriksa kesamaan dengan operator ==

-Membandingkan nilai yang ditampung dari kedua series berikut yaitu nilai yang berada di kolom A dan B

-Hasil banding yang menunjukan false di akibatkan karena nilai data yang ada di dalam kolom tidak ada atau kita kenal dengan NaN

_Cara pertama :

In [8]:
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

_Cara Kedua : Memanfaatkan method equals()

-Hasil output yang terjadi akan menampilkan mayoritas dari hasil perbandingannya.

In [9]:
df['A'].equals(df['B'])

True

Memeriksa kesamaan antar dua Data Frame

-method equals juga bisa di gunakan di dalam DataFrame
yang menampung object dari DataFrame yang kondisinya sama walaupun berbeda objek

In [12]:
df1 = df.copy(deep=True)

df.equals(df1)

True

In [13]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True