## Mengenal Cummulative Count dengan cumcount()

## Import Modules :
modul yang kita import antara lain :

1. pandas

In [1]:
import pandas as pd

- Setelah itu sebaiknya kita mengecek terlebih dahulu versi pandas yang kita gunakan saat ini, bertujuan agar apabila terjadi perbedaan output atau tampilan itu kemungkinan besar di sebabkan oleh perbedaan versi yang di gunakan.

In [2]:
print(pd.__version__)

1.1.3

## Persiapan DataFrame
- membuat sebuah dictionary yang terdiri dari 2 kolom

In [4]:
d = {'penjual':['bejo', 'tejo', 'wati', 'bejo', 'cecep', 'tejo', 'wati', 'bejo'],
     'barang':['monitor', 'monitor', 'keyboard', 'mouse', 'keyboard', 'monitor', 'laptop', 'monitor']}

df = pd.DataFrame(d)
df

  penjual    barang
0    bejo   monitor
1    tejo   monitor
2    wati  keyboard
3    bejo     mouse
4   cecep  keyboard
5    tejo   monitor
6    wati    laptop
7    bejo   monitor

## Mengenal Cummulative Count dengan cumcount()
- df.groupny = mengelompokkan suatu nilai
- cumcount = membuat sebuah kolom baru dan menghitung nilainya

In [5]:
df['count_tiap_penjual'] = df.groupby('penjual').cumcount() + 1
df

  penjual    barang  count_tiap_penjual
0    bejo   monitor                   1
1    tejo   monitor                   1
2    wati  keyboard                   1
3    bejo     mouse                   2
4   cecep  keyboard                   1
5    tejo   monitor                   2
6    wati    laptop                   2
7    bejo   monitor                   3

In [6]:
df['count_tiap_penjual'] = df.groupby('barang').cumcount() + 1
df

  penjual    barang  count_tiap_penjual
0    bejo   monitor                   1
1    tejo   monitor                   2
2    wati  keyboard                   1
3    bejo     mouse                   1
4   cecep  keyboard                   2
5    tejo   monitor                   3
6    wati    laptop                   1
7    bejo   monitor                   4

In [9]:
df['count_pasangan_kolom'] = df.groupby(['penjual', 'barang']).cumcount() + 1
df

  penjual    barang  count_tiap_penjual  count_pasangan_kolom
0    bejo   monitor                   1                     1
1    tejo   monitor                   2                     1
2    wati  keyboard                   1                     1
3    bejo     mouse                   1                     1
4   cecep  keyboard                   2                     1
5    tejo   monitor                   3                     2
6    wati    laptop                   1                     1
7    bejo   monitor                   4                     2