#03 KONVERSI TIPE DATA STRING KE NUMERIK PADA KOLOM DATA FRAME

#Hal yang diperlukan tetap sama, yaitu membuat sebuah data frame

In [1]:
import pandas as pd

print(pd.__version__)

1.1.3

In [5]:
data = {'col1':['1', 'pensil', '3', 'buku'],
        'col2':['1', '2', '3', '4']}

df = pd.DataFrame(data)
df

     col1 col2
0       1    1
1  pensil    2
2       3    3
3    buku    4

#Setelah kita run, kita bisa melihat semua data yang berada di kolom 1 dan 2, selanujutnya kita akan mengecek tipe dari masing - masing datanya.

In [6]:
df.dtypes

col1    object
col2    object
dtype: object

#Kenapa tipe datanya object ?
Karena data - data yang muncul hasil inputan kita bertipe data string

------------------------------------------------------------
KONVERSI TIPE DATA DENGAN FUNGSI astype()

#Kita akan mengubah tipe data di kolom 2 menjadi tipe data float ya perhatikan di bawah ini dengan membuat sebuah variable baru dengan nama df_x.

In [7]:
df_x = df.astype({'col2' : 'float'})
df_x

     col1  col2
0       1   1.0
1  pensil   2.0
2       3   3.0
3    buku   4.0

#Setelah kita melakukan running , bisa tampak jelas perbedaannya di kolom 2 sekarang semuanya bertipe data float yaitu bilangan berkoma. Selanjutnya saya akan memunculkan tipe data ke dalam outputnya.

In [8]:
df_x.dtypes

col1     object
col2    float64
dtype: object

#Bisa kita liat sendiri di bagian col2 sudah tertera tipe data float yang kita masukan.

------------------------------------------------------------
KONVERSI TIPE DATA NUMERIK DENGAN FUNGSI TO_NUMERIC()
apa fungsi dari coerce ? untuk menggantikan data yang tidak bisa di konversikan ke numeric akan di ganti menjadi NaN.

In [9]:
df.apply(pd.to_numeric, errors='coerce')

   col1  col2
0   1.0     1
1   NaN     2
2   3.0     3
3   NaN     4

#Sudah terlihat jelas apa yang terjadi di tabel ini dengan yang sebelumnya, saya harap cukup jelas untuk pemahaman tentang coerce.